[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
tqdm = "*"
pyqt6 = "*"
qt-material = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
